@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido!</h1>
    <H5>
        Diseñada para brindarte un control total sobre tus <span style="color:green">recursos monetarios</span>,
        esta página te ofrece un conjunto integral de herramientas para administrar tipos de cuentas, cuentas individuales, categorías de <span style="color:red">gastos</span>
        e <span style="color:Highlight">ingresos</span>, así como todas las transacciones asociadas.
        <br />
        <br />
        Nuestro sistema se basa en la premisa de que la organización financiera es clave para alcanzar tus metas económicas. Ya sea que estés gestionando tus gastos diarios, ahorrando para una meta importante o planificando tu futuro financiero, nuestra página "Manejo de Presupuestos" está aquí para simplificar y optimizar tus decisiones monetaria$.
        💰
    </H5>
</div>
